google-generativeai
streamlit
joblib
python-dotenv
crewai
crewai-tools
crewai[tools]
qdrant-client
sentence-transformers
markitdown
chonkie
numpy
ipython
notebook
black
pylint
chromadb[full]
pysqlite3-binary
databricks-sdk
